<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bursi.jobfinding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobFinding">
        <activity android:name=".DashbordActivity"
            android:theme="@style/Theme.JobFinding.NoActionBar"></activity>
        <activity android:name=".ForgotPasswordActivity"
            android:theme="@style/Theme.JobFinding.NoActionBar"/>
        <activity android:name=".SignInActivity"
            android:theme="@style/Theme.JobFinding.NoActionBar"/>
        <activity android:name=".PictureActivity"
            android:theme="@style/Theme.JobFinding.NoActionBar"/>
        <activity android:name=".LocationAndPictureActivty"
            android:theme="@style/Theme.JobFinding.NoActionBar"/>
        <activity android:name=".JoinNoewJobStudentActivity"
            android:theme="@style/Theme.JobFinding.NoActionBar"/>
        <activity android:name=".JoinNowJobActivity"
            android:theme="@style/Theme.JobFinding.NoActionBar"/>
        <activity android:name=".JoinNowNameActivity"
            android:theme="@style/Theme.JobFinding.NoActionBar"/>
        <activity android:name=".JoinNowEmailActivity"
            android:theme="@style/Theme.JobFinding.NoActionBar"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.JobFinding.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.JobFinding.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>